*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
nav {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;

  background-color: #222;
  padding: 20px;
}

/* Links */
nav a {
  color: white;
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;

  transition: 0.3s;
}

/* Quando passar o mouse */
nav a:hover {
  color: #00bcd4;
}

/* Link ativo/efeito visual */
nav a:active {
  color: #0097a7;
}